

.wtfooter {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

a.wt-link {
  padding: 10px 0 5px;
  font-size: 12px;
  line-height: 1.6;
}

a.wt-link:hover {
  font-weight: bold;
}
