:root {
  --main-color: #0026f7;
  --bs-border-radius: 0.2rem;
  --width-100: 100vw;
  --nav-color: #0E47CB;
  --sub-nav-color: #F3F3F3;
  --tool-1: #0E47CB;
  --tool-2: #3E6CD5;
  --tool-3: #8AA7E8;
  --btn-color: #0E47CB;
  --hover-color: #3E6CD5;
  --text-main-color: #262b38;
  --font-family-main: "Arial", sans-serif;
  --sh-blue: 0 3px 5px rgb(9 49 142 / 4%), 0 0 18px rgb(9 49 142 / 4%), 0 6px 10px rgb(9 49 142 / 4%), 0 -4px 4px rgb(9 49 142 / 4%);
  --eublue: #003776;
  --euyellow: #F8AE21;
  --c-p-10: #e7edfa;
  --c-d: #262b38;

  
}

/* Modern CSS Reset */
*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Global Styles */
html {
font-size: 16px;
line-height: 1.5;
font-family: var(--font-family-main);
}

#globan.dark .wt-globan--flag {
    border: 1px solid white !important; 
}


/* globals */
/* btns */
.ecl-button--primary {
    background-color: white;
    border: 0 solid var(--eublue);
    color: var(--eublue)
}

.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--tool-1);
    font-size: 1.2rem;
}

.toggleMenu {
    display: none;
}

.round-btn {
    border-radius: 50%;
    background-color: var(--tool-1) ;
    border: 2px solid var(--tool-1);
    width: 2.5rem;
    height: 2.5rem;
    display: flex ;
    justify-content: center;
    align-items: center;
    font-size: 1.2em ;
    color: white;
    position: relative;
    margin: .5rem;
}
.round-btn:hover {
    background-color: #fff ;
    border: 2px solid var(--tool-1);
    color: #3e6cd5 ;
    box-shadow: 0 0 0 0.15rem #cca30000 ;
}

/* nav section */

.es_app_top {
    height: 21vh;
    min-height: 99px;
    max-height: 99px;
    padding: 0rem 1rem !important;
    background-color: #082B7A;
    background: linear-gradient(125deg, #082b7a 35%, #AFDFE9 75%, white 100%);
}

#es_app_header {
    display: grid;
    grid-template-columns: auto 116px 165px 207px;
    min-height: 70px;
    padding: 0px;
    align-items: center;
    margin: 0 !important;
}

#header-title-label {
    font-weight: 1000;
    line-height: 100%;
    margin-bottom: 0;
    display: inline;
    padding-right: 1rem;
    padding-left: 2rem;
    padding-left: 0;
    margin-left: 0;
    position: relative;
    text-align: left;
    font: normal normal bold 2.4rem / 2.6rem Arial;
    letter-spacing: 0px;
    color: #F3F6FC;
    white-space: nowrap;
}

#lang-section {
    position: relative;
}

#es_app_header_ribbon img {
    max-height: 99px;
}

.es_logo {
    max-height: 26px;
}

/* language modal */

.ecl-site-header__language-container {
    display: none;
}

.ecl-site-header__language-container.visible {
    position: absolute;
    display: block;
}

button#languageClsBtn {
    display: flex;
    align-content: center;
    justify-content: center;
}

.ecl-site-header__language-link-label {
    cursor: pointer;
}

/* subnav section */

.subNavBar {
    max-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background-color: #e9eaeb !important;
    padding: 0;
    height: 4rem;
}


#menu {
    position: relative;
    padding: 0.2rem !important;
    margin-left: 2rem;
    width: 3rem;
    cursor: pointer;
    border: none;
    color: var(--tool-1);
    background-color: transparent;
}

#menu:hover {
    background-color: #f3f6fc;
    height: 4rem;
    align-items: center;
    justify-content: center;
    border-color: var(--tool-1) ;
    box-shadow: 0 0 0 0.15rem #cca30000 ;
    color: #0e47cb;
}


/* options menu */

#chartOptionsMenu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #f3f6fc;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 99vw;
    padding: 1.2rem;
    transform: translate(-67%, 20%);
}

.close-button-container {
    display: flex;
    justify-content: flex-end;
}

#chartOptionsMenu > div.dropdown-grid > div {
    padding: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
}

/* options btns */
.nav-item {
    position: relative;
}

#switchBtn {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
}

label[for="switchTop5"] {
    font-size: 1.2rem;
}

#switchTop5 {
     display: flex;
    width: 1.3rem;
    height: 1.3rem;
}

#chartBtns {
    display: flex;
    justify-content: flex-end;
}



.ecl-dropdown-menu {
    z-index: 9999999999;
    border: transparent;
    border-radius: 2px;
    box-shadow: 0 7px 8px rgb(9 49 142 / 8%), 0 0 22px rgb(9 49 142 / 4%), 0 12px 17px rgb(9 49 142 / 4%), 0 -4px 4px rgb(9 49 142 / 4%);
    line-height: 1.15;
    background-color: #f9f9f9;
    padding: 12px;
    display: none;  
    width: auto;
}

.ecl-dropdown-item {
    display: block;
width: 100%;
    padding: .5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    display: flex;
    gap: .7rem;
    align-items: flex-end;
}
.ecl-dropdown-item:hover {
    color: white;
    background-color: var(--tool-3);
    outline: -webkit-focus-ring-color auto 0px;
}

.ecl-dropdown-item:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.ecl-dropdown-menu.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    right: 0;
    transform: translate(-3%, 0%);
    min-width: 15rem;
}

/* map menu */
.wt-map-panels, .wt-map-menu .wt-btn, .wt-map-menu .wt-btn:focus, .wt-map-menu .wt-btn:active {
  

  
 border-color: var(--tool-1) !important;



}

#factSheet {
    position: fixed;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 999999999999999999999 !important;
    background: red;
}

/* chart container */
#chartContainer {
display: none;
    width: 100vw;
    /* height: 56vw; */
    position: absolute;
    /* top: 221px; */
    left: 0;
    background-color: white;
    z-index: 99;
}


/* footer */

.wtfooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    min-height: 5rem;
}


#footerCredits {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

ul#footerCredits {
    list-style: none;
}

.ecl-site-footer__list-item a {
    padding: 0.3rem 1rem;
}
.ecl-site-footer__list-item:not(:last-child) a {
    border-right: 1px solid #0e47cb;
}


/* tooltips */

.tooltip {
    display: none;
}