:root {
  --main-color: #0026f7;
  --bs-border-radius: 0.2rem;
  --width-100: 100vw;
  --nav-color: #0E47CB;
  --sub-nav-color: #F3F3F3;
  --tool-1: #0E47CB;
  --tool-2: #3E6CD5;
  --tool-3: #8AA7E8;
  --btn-color: #0E47CB;
  --hover-color: #3E6CD5;
  --text-main-color: #262b38;
  --font-family-main: "Arial", sans-serif;
  --sh-blue: 0 3px 5px rgb(9 49 142 / 4%), 0 0 18px rgb(9 49 142 / 4%), 0 6px 10px rgb(9 49 142 / 4%), 0 -4px 4px rgb(9 49 142 / 4%);
  --eublue: #003776;
  --euyellow: #F8AE21;
  --c-p-10: #e7edfa;
  --c-d: #262b38;

  
}

/* Modern CSS Reset */
*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Global Styles */
html {
font-size: 16px;
line-height: 1.5;
font-family: var(--font-family-main);
}

#globan.dark .wt-globan--flag {
    border: 1px solid white !important; 
}


/* globals */
/* btns */
.ecl-button--primary {
    background-color: white;
    border: 0 solid var(--eublue);
    color: var(--eublue)
}

.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--tool-1);
    font-size: 1.2rem;
}

.toggleMenu {
    display: none;
}

.round-btn {
    border-radius: 50%;
}

/* nav section */

.es_app_top {
    height: 21vh;
    min-height: 99px;
    max-height: 99px;
    padding: 0rem 1rem !important;
    background-color: #082B7A;
    background: linear-gradient(125deg, #082b7a 35%, #AFDFE9 75%, white 100%);
}

#es_app_header {
    display: grid;
    grid-template-columns: auto 116px 165px 207px;
    min-height: 70px;
    padding: 0px;
    align-items: center;
    margin: 0 !important;
}

#header-title-label {
    font-weight: 1000;
    line-height: 100%;
    margin-bottom: 0;
    display: inline;
    padding-right: 1rem;
    padding-left: 2rem;
    padding-left: 0;
    margin-left: 0;
    position: relative;
    text-align: left;
    font: normal normal bold 2.4rem / 2.6rem Arial;
    letter-spacing: 0px;
    color: #F3F6FC;
    white-space: nowrap;
}

#lang-section {
    position: relative;
}

#es_app_header_ribbon img {
    max-height: 99px;
}

.es_logo {
    max-height: 26px;
}

/* language modal */

.ecl-site-header__language-container {
    display: none;
}

.ecl-site-header__language-container.visible {
    position: absolute;
    display: block;
}

button#languageClsBtn {
    display: flex;
    align-content: center;
    justify-content: center;
}

.ecl-site-header__language-link-label {
    cursor: pointer;
}

/* subnav section */

.subNavBar {
    max-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background-color: #e9eaeb !important;
    padding: 0;
    height: 4rem;
}


#menu {
    position: relative;
    padding: 0.2rem !important;
    margin-left: 2rem;
    width: 3rem;
    cursor: pointer;
    border: none;
    color: var(--tool-1);
    background-color: transparent;
}
/* options menu */

#chartOptionsMenu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #f3f6fc;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 97vw;
    /* height: 18vh; */
    padding: 1.2rem;
    transform: translate(1% , 71%);
}

.close-button-container {
    display: flex;
    justify-content: flex-end;
}

#chartOptionsMenu > div.dropdown-grid > div {
    padding: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
}

/* options btns */
#chartBtns {
    display: flex;
    justify-content: flex-end;
}